<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rent Cars</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="stylesheet" type="text/css" href="../style/car-view.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<%- include('header.ejs') %>

<div class="row" style="width: 90%">
    <div class="col-lg-12">
        <div class="card mt-4">
            <% for(var i = 0; i< car.length; i++) { %>
            <div class="card-body row">
                <div class="col-lg-6 box">
                    <img class="card-img-top img-fluid" src="<%= car[i].picturePath %>" alt="">
                </div>
                <div class="col-lg-6 box">
                    <h3 class="card-title"><%= car[i].brand %> <%= car[i].type %></h3>
                    <p class="card-text">Fuel: <strong><%= car[i].fuel %></strong></p>
                    <p class="card-text">Year of production: <strong><%= car[i].year %></strong></p>
                    <p class="card-text">Color: <strong><%= car[i].color %></strong></p>
                    <p class="card-text">Doors: <strong><%= car[i].numDoor %></strong></p>
                    <p class="card-text">Insurance: <strong><%= car[i].insurance %></strong></p>
                    <p class="card-text">Price: <strong>$<%= car[i].price %>.00</strong></p>
                </div>
                <div class="col-lg-12 desc-container">
                    <p class="card-desc"><%= car[i].description %></p>
                </div>
                <div class="card-footer col-lg-12">
                    <form action="/rent" method="post">
                        <input type="text" style="visibility: hidden; display: none" value="<%= car[i].carId %>" name="dumbassCarId">
                        <label for="rent-date">Rent date:</label>
                        <input type="date" id="rent-date" name="rentDate" required>
                        <label for="return-date">Return date:</label>
                        <input type="date" id="return-date" name="returnDate" required>
                        <label for="pickupLocation">Pickup location: </label>
                        <select id="pickupLocation" name="pickupLocation" required>
                            <option value="Airport">Airport Office</option>
                            <option value="Prishtina Office">Prishtina Office</option>
                            <option value="Tirana Office">Tirana Office</option>
                        </select>
                        <label>
                            In Country:
                            <input type="checkbox" name="inCountry">
                        </label>
                        <button class="rent-button">RENT</button>
                    </form>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>
</body>
</html>
